  <!-- Nav Item Ordenes Entrada -->
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProductoE"
       aria-expanded="true" aria-controls="collapseProductoE">
        <i class="fas fa-fw fa-car-side"></i>
        <span>Oredenes Entrada</span>
    </a>
    <div id="collapseProductoE" class="collapse" aria-labelledby="headingProducto" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Gestión:</h6>
            <a class="collapse-item" href="@Url.Action("OrdenEntrada", "OrdenEntradas")">Ingresar Productos</a>
            <a class="collapse-item" href="@Url.Action("HistorialEntradas", "OrdenEntradas")">Listado Productos Ingresados</a>
        </div>
    </div>
</li>
