@model IEnumerable<sistemaInventario.Models.Producto>
@{
    ViewBag.Title = "Index";
}



<div class="card mb-4">
    <div class="card-header">
        Listado de Productos
    </div>
    <div class="card-body">
        <div class="form-group row">
            <label class="col-1">Proveedor</label>
            <div class="col-2">
                @Html.DropDownList("proveedor", null, "Todos", htmlAttributes: new { @class = "form-control" })
            </div>
            <label class="col-1">Marca</label>
            <div class="col-2">
                @Html.DropDownList("marca", null, "Todas", htmlAttributes: new { @class = "form-control" })
            </div>
            <label class="col-1">Categoría</label>
            <div class="col-2">
                @Html.DropDownList("categoria", null, "Todas", htmlAttributes: new { @class = "form-control" })
            </div>
            <button class="btn btn-success" id="buscar">
                Buscar
            </button>
        </div>
        <hr />
        <div class="table-responsive" id="tablaProductos"></div>
    </div>
</div>


<script>
    ///método que envía los filtros al contralador y muesta la tabla con los filtros
    $('#buscar').click(function () {
        cargarTabla();
    });
    function cargarTabla() {
        let datos = '?proveedor=' + $('#proveedor').val() + '&marca=' + $('#marca').val() + '&categoria='+ $('#categoria').val();
        $.get('@Url.Action("ListarProductos")' + datos, function (productos) {
            $('#tablaProductos').html(productos);
        });
    }
</script>

