
@{
    ViewBag.Title = "Create";
}

<div class="card mb-4">
    <div class="card-header">
        Crear Marca
    </div>
    <div class="card-body">
        <form method="post" action="/Marcas/Create/">
            <div class="form-group row">
                <label class="col-2">Nombre:</label>
                <div class="col-10">
                    <input type="text" name="nombre" id="nombre" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-2">Descripición:</label>
                <div class="col-10">
                    <input type="text" name="descripcion" id="descripcion" class="form-control" />
                </div>
            </div>
            <div class="text-center">
                <input type="submit" value="Guardar" class="btn btn-lg btn-primary" />
            </div>
        </form>
    </div>
</div>
